<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainController">

<div class="row-fluid">
    <div class="header-wrapper">
        <header>
            <div class="header-logo">
                <a href="https://www.microsoft.com/">
                    <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
                         alt="Microsoft">
                </a>
            </div>
            <div class="header-nav-wrapper" >
                <div class="dropdown nav-item" ng-repeat="item in navigation">
                    <a class="dropdown-toggle" data-toggle="dropdown" >
                        {{item.name}}
                        <span class="caret" ng-show="item.submenu"></span> </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-show="item.submenu">
                        <li ng-repeat="subitem in item.submenu">
                            <a href="#">{{subitem.name}}<i class="glyphicon glyphicon-chevron-right"
                                                           ng-show="subitem.submenu"></i> </a>
                            <ul ng-show="subitem.submenu" class="submenu">
                                <li ng-repeat="subsubitem in subitem.submenu">{{subsubitem.name}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="header-actions">
                <div class="action">
                    <input placeholder="Пошук на веб-сайті Microsoft.com" maxlength="200" tabindex="30" type="search"
                           name="search">
                    <button class="search-button" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="action">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>

                </div>
                <div class="action">
                    Вхід
                </div>

            </div>
        </header>
    </div>
</div>

<div class="row-fluid">
    <main>
        <div class="main-background-container">
            <section class="main-content">
                <h1 class="header">
                    Безопасный доступ, синхронизация и совместная работа
                </h1>
                <h2 class="subheader">
                    Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных
                    администраторов и нравятся пользователям.
                </h2>
                <button class="try-trial">
                    <a href="https://www.dropbox.com/business/try">
                        Попробуйте бесплатную 30-дневную ознакомительную версию
                    </a>
                </button>
                <div class="buy-trial">
                    или
                    <a href="https://www.dropbox.com/business/buy"> купите прямо сейчас</a>
                </div>
            </section>
        </div>

        <div class="subscription">
            <div class="subscription-content">
                <h2>
                    Join over 2 million designers already using InVision. Get InVision <strong>free</strong> forever!
                </h2>
                <form name="signup_form" class="signup_form">
                    <input type="text" name="name" placeholder="Your Name">
                    <input type="email" name="email" placeholder="Email Address">

                    <input type="password" name="password" placeholder="Create a Password">
                    <button>
                        Get Started — Free Forever!
                    </button>

                </form>

                <span class="terms">
                        By clicking "Get Started — Free Forever!" I agree to InVision's
                        <a href="https://www.invisionapp.com/terms">
                            Terms of Service.
                        </a>
                    </span>

            </div>
        </div>

        <div class="special">
            <div class="special-item-wrapper" ng-repeat="special in specials">
                <div class="special-item" ng-style="{'background-image': 'url(' + special.img +') '}">
                    <div class="darken">
                    </div>
                    <a href="{{special.link}}">
                        <div class="special-content">
                            <h4>{{special.subtitle}}</h4>
                            <h3>{{special.title}}</h3>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </main>
</div>
<footer>
    <section class="footer-menu">
        <div class="footer-menu-column">
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">Shop and Learn</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="/mac/">Mac</a></li>
                    <li class="footer-menu-item"><a href="/ipad/">iPad</a></li>
                    <li class="footer-menu-item"><a href="/iphone/">iPhone</a></li>
                    <li class="footer-menu-item"><a href="/watch/">Watch</a></li>
                    <li class="footer-menu-item"><a href="/tv/">TV</a></li>
                    <li class="footer-menu-item"><a href="/music/">Music</a></li>
                    <li class="footer-menu-item"><a href="/itunes/">iTunes</a></li>
                    <li class="footer-menu-item"><a href="/ipod/">iPod</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/buy_accessories">Accessories</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/giftcards">Gift Cards</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-menu-column">
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">Apple Store</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="/retail/">Find a Store</a></li>
                    <li class="footer-menu-item"><a href="/retail/geniusbar/">Genius Bar</a></li>
                    <li class="footer-menu-item"><a href="/retail/learn/">Workshops and Learning</a></li>
                    <li class="footer-menu-item"><a href="/retail/learn/youth/">Youth Programs</a></li>
                    <li class="footer-menu-item"><a href="https://itunes.apple.com/app/apple-store/id375380948?mt=8">Apple
                        Store App</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/special_deals">Refurbished</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/payment_plan">Financing</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/reuse_and_recycle">Reuse and Recycling</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/account">Order Status</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/help">Shopping Help</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-menu-column">
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">For Education</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="/education/">Apple and Education</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/educationrouting">Shop for College</a></li>
                </ul>
            </div>
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">For Business</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="/business/">Apple and Business</a></li>
                    <li class="footer-menu-item"><a href="/retail/business/">Shop for Business</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-menu-column">
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">Account</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="https://appleid.apple.com/us/">Manage Your Apple ID</a></li>
                    <li class="footer-menu-item"><a href="/us/shop/goto/account">Apple Store Account</a></li>
                    <li class="footer-menu-item"><a href="https://www.icloud.com">iCloud.com</a></li>
                </ul>
            </div>
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">Apple Values</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="/accessibility/">Accessibility</a></li>
                    <li class="footer-menu-item"><a href="/education/connectED/">Education</a></li>
                    <li class="footer-menu-item"><a href="/environment/">Environment</a></li>
                    <li class="footer-menu-item"><a href="/diversity/">Inclusion and Diversity</a></li>
                    <li class="footer-menu-item"><a href="/privacy/">Privacy</a></li>
                    <li class="footer-menu-item"><a href="/supplier-responsibility/">Supplier Responsibility</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-menu-column">
            <div class="footer-menu-section">
                <h3 class="footer-menu-title">About Apple</h3>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a href="/about/">Apple Info</a></li>
                    <li class="footer-menu-item"><a href="/newsroom/">Newsroom</a></li>
                    <li class="footer-menu-item"><a href="http://www.apple.com/jobs/us/">Job Opportunities</a></li>
                    <li class="footer-menu-item"><a href="/pr/">Press Info</a></li>
                    <li class="footer-menu-item"><a href="http://investor.apple.com">Investors</a></li>
                    <li class="footer-menu-item"><a href="/apple-events/">Events</a></li>
                    <li class="footer-menu-item"><a href="/contact/">Contact Apple</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="footer-bottom-shop">
            More ways to shop: Visit an <a href="/retail/"> Apple Store</a>,
            <span class="nowrap">call 1-800-MY-APPLE, or
                    <a href="https://locate.apple.com/">find a reseller</a></span>.
        </div>
        <div class="footer-bottom-locale">
            <a class="footer-bottom-locale-link" href="/choose-your-country/"
               title="Choose your country or region"
               aria-label="United States. Choose your country or region">
                <span class="footer-bottom-locale-flag" data-hires="false"></span>
                United States
            </a>
        </div>
        <div class="footer-bottom-legal">
            <div class="footer-bottom-legal-copyright">Copyright © 2016 Apple Inc. All rights reserved.</div>
            <div class="footer-bottom-legal-links">
                <a href="/privacy/privacy-policy/">Privacy Policy</a>
                <a href="/legal/internet-services/terms/site.html">Terms of Use</a>
                <a href="/us/shop/goto/help/sales_refunds">Sales and Refunds</a>
                <a href="/legal/">Legal</a>
                <a href="/sitemap/">Site Map</a>
            </div>
        </div>
    </section>
</footer>


<script src="vendor/vendor.js"></script>
<script src="vendor/all.js"></script>
</body>
</html>